.form{
    width: 40%;
    background-color: rgb(205, 174, 143);
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 0px 15px  grey;
}
.form img{
   width: 30%;
   margin: auto;
   display: block;
}
.form h1{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(54, 46, 46);
}
.form form input{
    width: 80%;
    display: block;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px grey;
    margin: auto;
    margin-bottom: 15px;
}


.form .submit{
    width: unset;
    font-size: 18px;
    height: unset;
    padding: 15px 50px;
    cursor: pointer;
    background-color: rgb(220, 192, 81);
    border-radius: 25px;
    transition: background-color,color 0.3s ;
    color: black;
    font-weight: 700;
}   
.form .submit:hover {
   background-color: rgb(218, 142, 66);
   color: white;

}
 .success,.failure{
    padding: 50px 0 150px 0;
    text-align: center;
 }

 .success h2,.failure h2{
    font-size: 55px;
 }

 .success p,.failure p{
    font-size: 20px;
 }

 .link{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
 }
 .link:hover {
    color: white;
 }

 .success{
    background-color: rgb(72, 117, 184);
 }
 .failure{
   background-color: rgb(180, 67, 47);
}

 @media screen and (max-width:1000px){
   .form{
      width: 60%;
   }
   .form h1{
      font-size: 25px;
   }
   .form{
      padding: 10px;
   }
   .form form input{
      height: 35px;
   }
   .form form input[type=submit]{
      padding: 10px 40px;
   }
   .success h2,.failure h2{
      font-size: 35px;
   }
   .success p,.failure p{
      font-size: 17px;
   }

 }

 @media screen and (max-width:700px){
   .form{
      width: 70%;
   }
}

@media screen and (max-width:500px){
   .form{
      width: 90%;
   }
   .form form input{
   width: 90%;
   }
}
